*.dat
*.suo
KD-tree/bin/Debug/KD-tree.exe
KD-tree/bin/Debug/KD-tree.exe.config
KD-tree/bin/Debug/KD-tree.pdb
KD-tree/bin/Debug/KD-tree.vshost.exe
KD-tree/bin/Debug/KD-tree.vshost.exe.config
KD-tree/bin/Debug/KD-tree.vshost.exe.manifest
KD-tree/bin/Release/KD-tree.exe
KD-tree/bin/Release/KD-tree.exe.config
KD-tree/bin/Release/KD-tree.pdb
KD-tree/bin/Release/KD-tree.vshost.exe
KD-tree/bin/Release/KD-tree.vshost.exe.config
KD-tree/bin/Release/KD-tree.vshost.exe.manifest
KD-tree/obj/Debug/DesignTimeResolveAssemblyReferences.cache
KD-tree/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
KD-tree/obj/Debug/KD-tree.csproj.FileListAbsolute.txt
KD-tree/obj/Debug/KD-tree.csproj.GenerateResource.Cache
KD-tree/obj/Debug/KD-tree.csprojResolveAssemblyReference.cache
KD-tree/obj/Debug/KD-tree.exe
KD-tree/obj/Debug/KD-tree.pdb
KD-tree/obj/Debug/KD_tree.Form1.resources
KD-tree/obj/Debug/KD_tree.Properties.Resources.resources
KD-tree/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KD-tree/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KD-tree/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
KD-tree/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
KD-tree/obj/Release/KD-tree.csproj.FileListAbsolute.txt
KD-tree/obj/Release/KD-tree.csproj.GenerateResource.Cache
KD-tree/obj/Release/KD-tree.csprojResolveAssemblyReference.cache
KD-tree/obj/Release/KD-tree.exe
KD-tree/obj/Release/KD-tree.pdb
KD-tree/obj/Release/KD_tree.Form1.resources
KD-tree/obj/Release/KD_tree.Properties.Resources.resources
KD-tree/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
KD-tree/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
KD-tree/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs